<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drinks Show Page</title>
</head>
<body>
    <ul>
            <li><%= drink.name %></li>
            <li><%= drink.price %></li>
            <li> <img src="<%= drink.image %>" alt=""> </li>
    </ul>
</body>
</html>